<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FileMergerPlus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <userSettings>
    <FileMergerPlus.Properties.Settings>
      <setting name="SourceMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="IncludeSubfolders" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExtensionPattern" serializeAs="String">
        <value />
      </setting>
      <setting name="IncludeTree" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowFullPath" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CopyToClipboard" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastTemplateIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ThemeMode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IncludeHiddenFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludeEmptyFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeWarningsSection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FolderTreeOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UiLanguage" serializeAs="String">
        <value>0</value>
      </setting>
    </FileMergerPlus.Properties.Settings>
  </userSettings>
</configuration>
